@model WebAppEs.ViewModel.Home.DashboasrViewModel
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "Home Page";
}

<div class="x_panel shadow p-3 mb-5 bg-white rounded">
    <div class="container">
        <div class="x_title">
            <h2>Dashboard</h2>
            <div class="nav navbar-right panel_toolbox">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div style="" class="container">

                

            </div>
        </div>
    </div>
</div>
