@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<li class="nav-item">
    @*<form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="nav-link btn btn-link text">Logout</button>
    </form>*@
    <a style="padding:7px" class="nav-link text" asp-area="" asp-controller="Account" asp-action="Logout"> <i class="fa fa-sign-out pull-right"></i></a>
</li>
    <li class="nav-item">
        <a style="padding:5px" class="nav-link text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user"></i></a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}